<div>
  <h1>{{ section.settings.section_title }}</h1>
  Step into the season with our {{ section.settings.collection_title }} collection,
  {{ section.settings.additional_information }}
</div>

{% schema %}
{
  "name": "Call to action",
  "settings": [
      {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Seasonal Collection"
      },
      {
      "type": "text",
      "id": "collection_title",
      "label": "Collection Title",
      "default": "Seasonal Collection"
      },
      {
      "type": "textarea",
      "id": "additional_information",
      "label": "Additional Information",
      "default": "Seasonal Collection"
      }
  ]
}
{% endschema %}
